version: '3.8'

services:
  db:
    image: postgres:15
    environment: 
      POSTGRES_DB: taskdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
        - db_data:/var/lib/postgresql/data
    ports:
       - "5432:5432"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"

    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/taskdb


  frontend:
    build: ./frontend
    command: npm start
    volumes:
      - ./frontend:/app
      - /app/node_modules

    ports:
      - "3000:3000"

    depends_on:
      - backend 

volumes:
postgres_data:
   